.m-table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #e4e4e4;
    margin: 20px 0;
    width: 100%;
    
    .row--alt td {
        background-color: #AAA;
    }

    th {
        padding: 1em;
        border-bottom: 1px solid #e4e4e4;
        background-color: rgba(228,228,228,.4);
        text-align: left;
    }

    td {
        padding: 1em;
        border-bottom: 1px solid #e4e4e4;
        vertical-align: top;
    }
}
