@charset "utf-8";
@viewport {
    zoom: 1.0;
    width: device-width;
}

// Settings
@import "settings/variables";
@import "settings/colors";

// Tools
@import "tools/functions";
@import "tools/mixins";

@import "~react-toastify/dist/ReactToastify.css";

// Base
@import "base/normalize";
@import "base/fonts";
@import "base/elements";
@import "base/typography";

// Atoms
@import "10_atoms/build-time";
@import "10_atoms/button";
@import "10_atoms/container";
@import "10_atoms/loader";

// Molecules
@import "20_molecules/table";

// Organisms
@import "30_organisms/location-fetcher";

// Templates
@import "40_templates/default";